.tablefullbg table {
    background-color: #E8E8E8;
    width: 100%;
    margin: 0 0 0 0;
    border-radius: 15px;
    text-align: center;
    border-collapse: collapse;
    }
    
    .tablefullbg table td, .tablefullbg table th {
    border: 1px solid #F8F8F8;
    text-align: center;
    }
      
    figure.wp-block-table.tablefullbg {
    width:100%;
    background-color:#f8f8f8;
    border-radius: 15px;
    border: none;
    }
      
    .tablefullbg table thead {
    background: #E8E8E8;
    background: -moz-linear-gradient(top, #d0d0d0 0%, #dfdfdf 60%, #d0d0d0 100%);
    background: -webkit-linear-gradient(top, #d0d0d0 0%, #dfdfdf 60%, #d0d0d0 100%);
    background: linear-gradient(to bottom, #d0d0d0 0%, #dfdfdf 60%, #d0d0d0 100%);
    border-bottom: 2px solid #A8A8A8;
    }
    
    /*------------------------*/
    .table33bg table {
    margin: 0 0 0 0;
    border-radius: 15px;
    border-collapse: collapse;
    }
    
    figure.wp-block-table.table33bg {
    width:66%;
    background-color:#e8e8e8;
    border-radius: 15px;
    }
    
    .table33bg td{
    text-align:left;
    vertical-align:middle;
    border: 1px solid #F8F8F8;
    border-radius: 15px;
    }
    
    

/***************************************************
//***************************************************
//***************************************************
//***************************************************
//***************************************************
.tablefullbg table {
margin: 0 0 0 0;
}

.tablefullbg td{
text-align:center;
vertical-align:middle;
}

.tablefullbg figure{
border-style: hidden;
}

figure.wp-block-table.tablefullbg {
width:100%;
background-color:#F5F5F5;
box-shadow:0px 0px 8px 2px rgba(0,0,0,0.2);
border-radius: 15px;
/*border-collapse: collapse;
border: none;
margin: 0 0 0 0;*/
}

.tablefullbg th{
vertical-align:middle;
background-color:#e8e8e8;
}

/*------------------------*/
.table33bg table {
margin: 0 0 0 0;
}

figure.wp-block-table.table33bg {
width:33%;
background-color:#F5F5F5;
box-shadow:0px 0px 8px 2px rgba(0,0,0,0.2);
border-radius: 15px;
}

.table33bg td{
text-align:left;
vertical-align:middle;
}